<!-- <!DOCTYPE html>  not needed on extended html-->

{% extends 'Four_App/base.html' %}
  {% block body_block %}

<div class="jumbotron">
  <h1>Django Final Level</h1>
</div>
{% endblock %}






<!-- Template Injection Example -->
<!-- { block body_block }

<div class="jumbotron">
<h1>Django Final Level</h1>
<h2>Testing Template View</h2>
<h3>Injected Content : {{ injectme }}</h3>
</div>
{ endblock } -->


<!-- BASIC EXAMPLES -->

        <!-- <h1>Welcome to Index</h1>
        <h2>This is index.html page showing!</h2> -->

        <!-- template filters -->
        <!-- watch spacing -->
        <!-- <h1>{{ text|cut:'hello' }}</h1>
        <h1>{{ number|add:"99" }}</h1> -->
